<!DOCTYPE html>
<html>
  <head>
    <title>RegattaHub</title>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <div class="container">

    <% include ./partials/header.ejs %>
      <div class="row">
	<div class="col-md-2">
	  <ul class="nav nav-stacked">
	    <li><a class="btn btn-default" href="/post/">Add Regatta</a></li>
	  </ul>
	</div>
	<div class="col-md-8">
	  <div class="">
	    <%  regattas.reverse().forEach(function(regatta){%>
	    <div>
	      <h3><a href="/results/<%= regatta._id %>"><%= regatta.event_name %></a></h3>
	      <p><%= regatta.event_host %> in <%= regatta.event_location %></p>
	      <p><%= regatta.event_date %></p>
	    </div>
	    <% }); %>
	</div>

	</div>
	<div class="col-md-2">

	  <% include ./partials/class_list.ejs %>
	</div>
    </div>

      <% include ./partials/foot.ejs %>
      </div>
  </body>
</html>
