<!DOCTYPE html>
<html>
  <head>
    <title><%= regatta.event_name %>: RegattaHub</title>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <% include ./partials/header.ejs %>
      <div class="row">
	<div class="col-md-2">
	  <ul class="nav nav-stacked">
	    <li><a class="btn btn-default" href="/post/">Post Results</a></li>
	    Some other this here.
	  </ul>
	</div>
	<div class="col-md-8">
	  <div class="">
	      <h1><%= regatta.event_name %></h1>
	      <p><%= regatta.event_host %> in <%= regatta.event_location.city %>, <%= regatta.event_location.state %></p>
	      <p><%= regatta.event_date.toLocaleDateString() %></p>
	</div>
	  
      </div>
      <div class="col-md-2">
	Something else here.
    </div>
</div>

<% include ./partials/foot.ejs %>

  </body>
</html>
