<!DOCTYPE html>
<html>
  <head>
    <title>RegattaHub</title>
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <div class="container">
      <div class="row">
	<div class="col-md-12">
	  <div class="page-header">
	    <h1>RegattaHub <small>makes your boat faster</small></h1>
	  </div>
	</div>
      </div>
      <div class="row">
	<div class="col-md-2">
	  <ul class="nav nav-stacked">
	    <li><a class="btn btn-default" href="">Back</a></li>
	  </ul>
	</div>
	
	<div class="col-md-10" ng-app="previewApp" ng-controller="previewCtrl">
	    <div class="form-group">
	      <div class="panel panel-primary">
		<div class="panel-heading">
		  <h2 class="panel-title"><%= inputs.name %></h2>
		</div>
		<div class="panel-body row">
		  <div class="col-md-3">
		    <dt>Date</dt>
		    <dd><%= inputs.date %></dd>
		    <dt>Host</dt>
		    <dd><%= inputs.host %></dd>
		  </div>
		  <div class="col-md-3">
		    <dt>Class</dt>
		    <dd><%= inputs.boat_class %></dd>
		    <dt>Region</dt>
		    <dd><%= inputs.region %></dd>
		  </div>
		</div>
	      </div>
	      <div class="panel panel-primary">
		<div class="panel-heading">
		  <h2 class="panel-title">Results</h2>
		</div>
		<div class="panel-body">
		  <p class="alert alert-info">
		    Check to make sure the table was read correctly then presss continue. RegattaHub will analyze the results and send you an email with a link to publish the final results.
		  </p>
		  <div class="form-group">
		    <a href="" ng-click="post()" class="btn btn-success">Continue</a>

		  </div>

		  <table class="table table-striped">
		    <thead>
		      <tr>
			<th>Skipper</th>
			<th>Club</th>
			<th>Sail #</th>
			<th ng-repeat="col in results[0].slice(3)">R{{$index}}</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="row in results track by $index">
			<td ng-repeat="thing in row track by $index">{{thing}}</td>
		      </tr>
		    </tbody>
		  </table>
		  <div class="form-group">
		    <a href="" ng-click="post()" class="btn btn-success">Continue</a>
		  </div>

		</div>
	      </div>

	      
	    </div>
	  
	</div>
    </div>
</div>

        <!-- Pull in angular scripts -->
    <!-- CND for JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
    
    <!-- CND for bootstrap and font-awesome -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <!-- CND for angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.min.js"></script>

  <!-- RegattaHub Scripts -->
  <script>
    app = angular.module('previewApp', []);
app.controller('previewCtrl', function($scope, $http){
    var inputs =<%- JSON.stringify(inputs); %>;
    $scope.results = JSON.parse(inputs.results);
    
    $scope.post = function(){
	// post to /post/publish
	// send inputs as the
	// this will send an email
	
	$http.post('/post/publish', {data: inputs})
	    .then($http.get('/post/thankyou'),$http.get('/post/error'));
    }

    });
  </script>

  </body>
</html>
