<!DOCTYPE html>
<html>
  <head>
    <title>RegattaHub</title>
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <div class="container">
      <div class="row">
	<div class="col-md-12">
	  <div class="page-header">
	    <h1>RegattaHub <small>makes your boat faster</small></h1>
	  </div>
	</div>
      </div>
      <div class="row">
	<div class="col-md-2">
	  <ul class="nav nav-stacked">
	    <li><a class="btn btn-default" href="">Back</a></li>
	  </ul>
	</div>
	
	<div class="col-md-10" ng-app="previewApp" ng-controller="previewCtrl">
	    <div class="form-group">
	      <div class="panel panel-primary">
		<div class="panel-heading">
		  <h2 class="panel-title"><%= regatta.name %></h2>
		</div>
		<div class="panel-body">
		  <div class="row">
		    <div class="col-md-6">
		      <p>
			<dt>Date</dt>
			<dd><%= regatta.date %></dd>
			<dt>Class</dt>
			<dd><%= regatta.boat_class %></dd>
		      </p>
		  </div>
		    <div class="col-md-6">
		      <p>
			<dt>City</dt>
			<dd><%= regatta.city %></dd>
		    <dt>Host</dt>
			<dd><%= regatta.host %></dd>
		      </p>
		    </div>
		  </div>
		  <div class="row">
		    <div class="col-md-12">
		      <p class="alert alert-info">
			Check to make sure the table was read correctly then presss continue. RegattaHub will analyze the results and send you an email with a link to publish the final results.
		      </p>
		      <form action="/post/publish" method="post">
			<div class="form-group">
			  <input type="hidden" value="<%= JSON.stringify(regatta) %>" name="regatta" />
			  <input type="submit" value="Submit" class="btn btn-primary" />
			</div>
		      </form>
		    </div>
		  </div>
		  
		</div>
	      </div>
	      <div class="panel panel-primary">
		<div class="panel-heading">
		  <h2 class="panel-title">Preview Results</h2>
		</div>
		<div class="panel-body">
		  <table class="table table-striped">
		    <thead>
		      <tr>
			<th>Skipper</th>
			<th>Club</th>
			<th>Sail #</th>
			<% for(var i=3; i<regatta.boats[0].length; i++) { %>
			   <th>R<%= i %></th>
			   <% } %>
			</tr>
		    </thead>
		    <tbody>
		      <% for(var i=0; i<regatta.boats.length; i++) {%>
		     <tr>
		       <td><%= regatta.boats[i][0] %></td>
		       <td><%= regatta.boats[i][1] %></td>
		       <td><%= regatta.boats[i][2] %></td>
		       <% for (var j=3; j<regatta.boats[i].length; j++) { %>
			  <td><%= regatta.boats[i][j] %></td>
			  <% } %>
		     </tr>
		     <% } %>

		     </tbody>
		  </table>
		</div>
	      </div>

	      
	    </div>
	  
	</div>
    </div>
</div>

        <!-- Pull in angular scripts -->
    <!-- CND for JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
    
    <!-- CND for bootstrap and font-awesome -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <!-- CND for angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.min.js"></script>

  <!-- RegattaHub Scripts -->
  <script>

  </script>

  </body>
</html>
